# database server name
DB_SERVER=
# database user name
DB_USER=
# database user password
DB_USER_PASS=
# database name
DB_DATABASE=
# TSA users
DB_USER_DATABASE=
# database root user
DB_ROOT_USER_PASS=
# host
HOST=
# Restart containers
RESTART=no

_proxy=127.0.0.0/8,localhost
https_proxy=http://
HTTPS_PROXY=http://
HTTP_PROXY=http://
http_proxy=http://

